.options-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 70px);
    /* background-color: #3F2230; */
    text-align: center;
}

.question-section {
    width: 499px;
    background-color: #E6E7F0;
    padding: 0px 1.5rem 1.5rem 1.5rem;
    /* width: 100%; */
    /* max-width: 400px; */
    font-weight: 700;
    font-size: 18px;
}

.options-section {
    background-color: #E6E7F0;
    border-radius: 0px 0px 8px 8px;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    /* width: 100%;
    max-width: 400px; */
    width: 499px;
}

.option-item {
    display: flex;
    padding: 14px;
    margin: 0px 14px 14px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #493B2A;
    background: #E6E7F0;
    box-shadow: 2px 2px 4px 0 rgba(63, 34, 48, 0.15);
    text-align: left;
    color: #3F2230;
    font-family: "Inria Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.option-item:focus {
    border: 1.5px solid #28666E;
}

 @media (max-width: 520px) {
    .question-section {
        width: 100%;
    }
    .options-section {
        width: 100%;
    }
  }

 @media (max-width: 400px) {
    .option-item {
        font-size: 16px;
    }
    .question-section {
        font-size: 16px;
    }
  }