.quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.quote-section {
    background-color: #E6E7F0;
    border-radius: 8px 8px 0px 0px;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    font-style: italic;
    width: 499px;
}

.quote-text {
    color: #3F2230; 
    font-family: 'Inria Serif', serif;

}

.api-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E7F0;
    border-radius: 8px 8px 0px 0px;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    font-style: italic;
    width: 499px;
    color: #3F2230; 
    font-family: 'Inria Serif', serif;
}

.api-error {
    background-color: #E6E7F0;
    border-radius: 8px 8px 0px 0px;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    font-style: italic;
    width: 499px;
}

/* ---------------------------RESPONSIVE DESIGN----------------------------------------------------------------------------------*/

 @media (max-width: 520px) {
    .quote-section {
        width: 100%;
    }
    .api-loading {
        width: 100%;
    }
    .api-error {
        width: 100%;
    }
    .quote-content {
        width: 100%;
    }

  }

@media (max-width: 400px) {
    .quote-text {
        font-size: 14px;
    }
}