.quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-color: #3F2230;
    /* background-color: navy; */
}

.quote-section {
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 2rem 2rem 0rem 2rem;
    width: 100%;
    max-width: 400px;
}

.quote-text {
    color: #3F2230; 
    font-family: 'Inria Serif', serif;

}

.api-loading {
    background-color: grey;
}