.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    padding: 2rem;
    background-color: #3F2230;
  }
  
  .home-content {
    text-align: center;
    max-width: 800px;
    background-color: #E6E7F0;
    border-radius: 6px;
    padding: 1rem
  }
  
  .home-content h1 {
    font-size: 2.5rem;
    color: #3F2230;
    /* margin-bottom: em; */

  }
  
  .home-description {
    font-size: 1.2rem;
    color: #3F2230;
    line-height: 1.6;
    font-family: 'Inria Sans', sans-serif;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  .cta-button {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .cta-button.primary {
    background-color: #28666E;
    color: white;
    font-family: 'Inria Serif', serif;

  }
  
  .cta-button.primary:hover {
    background-color: #1C5158;
  }
  
  .cta-button.secondary {
    background-color: #E6E7F0;
    color: #28666E;
    border: 1px solid #28666E;
    font-family: 'Inria Serif', serif;

  }
  
  .cta-button.secondary:hover {
    background-color: #f0f2f5;
  }

  /* ---------------------------RESPONSIVE DESIGN----------------------------------------------------------------------------------*/

@media (max-width: 800px) {
  .home-content h1 {
    font-size: 1.75rem;
  }
  .home-description {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .home-content h1 {
    font-size: 20px;
  }
  .home-description {
    font-size: 14px;
  }
  .cta-button {
    font-size: .75rem;
  }
  .home-container {
    justify-content: flex-start;
  }
  .home-content {
    margin-top: 20px;
  }
}