.questions-container {
    /* padding: 2rem; */
    background-image: url(../../assets/background-indoors.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #3F2230; */
    min-height: calc(100vh - 70px);
  }
  
  /* .questions-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #4a55a2;
  } */
  
  .questions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }
/*   
  @media (min-width: 1024px) {
    .questions-content {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  } */