.questions-container {
    background-image: url(../../assets/background-indoors.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 70px);
  }
  
  .questions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .questions-content > p {
    color: white;
  }
  
  /* ---------------------------RESPONSIVE DESIGN----------------------------------------------------------------------------------*/

  @media (max-width: 520px) {
    .questions-content {
      width: 95%;
      margin: 70px 10px 0px 10px;
    }
  }