.gameover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 2rem; */
    background-color: #3F2230;
    min-height: calc(100vh - 70px);
}

.gameover-content {
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  max-width: 400px;
}

.cta-button.primary {
  background-color: #28666E;
  color: white;
}

@media (max-width: 430px) {
  .gameover-content {
    /* width: 95%; */
    margin: 10px;
  }
  .gameover-content h1 {
    font-size: 24px;
  }
  .gameover-content p {
    font-size: 14px;
  }
}