.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #28666E;
    /* background-color: transparent;    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; */
    color: white;
    font-family: 'Inria Serif', serif;
  }
  
  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-brand a {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    align-items: center;
  }
  
  .navbar-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .fish-display {
    display: flex;
    flex-direction: row;
  }

  .img-crop {
    margin-bottom: -20px;
    overflow: hidden;
  }

  .img-cat {
    margin-bottom: -10px;
    overflow: hidden;
  }
  .img-cat img {
    width: 100px;
    height: 100px;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: -20px;
  }

  .img-cat:hover {
    cursor: pointer;
  }

  .img-crop img {
    width: 100px;
    height: 100px;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: -20px;
  }
  
  .navbar-item {
    background-color: #28666E;
    font-family: 'Inria Serif', serif;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

  }
  
  .navbar-button {
    background-color: #28666E;
    font-family: 'Inria Serif', serif;
    color: white;
    border: none;
    padding: 0.71rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .navbar-button:hover {
    font-family: 'Inria Serif', serif;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }